<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

  <%- include('./partials/nav.ejs') %>

  <div class="blogs content">
    <h2><%= title %></h2>
    <p>ATTENTION! This blog was made with the help of <u>Node.js and MongoDB</u>. Thank you for your attention!</p>
  </div>

  <%- include('./partials/footer.ejs') %>

</body>

</html>