<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

  <%- include('./partials/nav.ejs') %>

  <div class="blogs content">
    <h2>about us</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam sit eos deleniti maxime reprehenderit sapiente possimus saepe modi molestiae tempora quae dolor velit illo commodi quidem vel quisquam, ad earum.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam sit eos deleniti maxime reprehenderit sapiente possimus saepe modi molestiae tempora quae dolor velit illo commodi quidem vel quisquam, ad earum.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam sit eos deleniti maxime reprehenderit sapiente possimus saepe modi molestiae tempora quae dolor velit illo commodi quidem vel quisquam, ad earum.</p>
  </div>

  <%- include('./partials/footer.ejs') %>

</body>

</html>